.rayMenu {
	padding:0;
	margin:0;
	list-style-type:none;
	list-style: none;
	position: fixed;
	top: 0px;

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f;

	-webkit-box-shadow: 0 3px 3px #3c3c40;
    -moz-box-shadow: 0 3px 3px #3c3c40;
    box-shadow: 0 3px 3px #3c3c40;
}
.rayMenu li { float:left; }
.rayMenu li.right { float:right; }
.rayMenu li a {
	padding:9px 20px;
	display:block;
	color: #eee;
	font-weight: bold;
	font-size: 14px;
	text-decoration:none;
}
.rayMenu li a > * {
	vertical-align: middle;
}
.rayMenu li img {
	width: 16px;
	vertical-align: middle;
}
.rayMenu li:hover { 
	position:relative; 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838;
}
.rayMenu li.nohover:hover { 
	position:relative; 
	background: transparent !important;
}

/* Submenu */
.rayMenu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.rayMenu li:hover ul {
	left:0px;
	top:35px;
	background: #383838;
	padding: 0;
	margin: 0;
}

.rayMenu li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	color: white;
}
.rayMenu li:hover ul li a:hover { 
	background:#bbb;
	color: black;
}

/* collapsed state */
.rayMenu.collapsed li a {
	padding: 3px 5px 0 5px;
}
.rayMenu.collapsed li:hover ul {
	top:24px;
}

/* themes */
.rayMenu.blue {
	 background: #51C5D4;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.rayMenu.blue li a,
.rayMenu.blue li:hover ul li a {
	color: black;
}

.rayMenu.blue li:hover,
.rayMenu.blue li:hover ul,
.rayMenu.blue li:hover ul li a {
	background: #80D4DF;
}
.rayMenu.blue li:hover ul li a:hover { 
	background: #E8EDE0; 
}

.rayMenu.orange {
	 background: #F78D3F;
	 -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.rayMenu.orange li a,
.rayMenu.orange li:hover ul li a {
	color: black;
}

.rayMenu.orange li:hover,
.rayMenu.orange li:hover ul,
.rayMenu.orange li:hover ul li a {
	background: #FCD271;
}
.rayMenu.orange li:hover ul li a:hover { 
	background: #E8EDE0; 
}

.rayMenu.pastel {
	 background: #D78B7D;
	 -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.rayMenu.pastel li a,
.rayMenu.pastel li:hover ul li a {
	color: black;
}
.rayMenu.pastel li:hover,
.rayMenu.pastel li:hover ul,
.rayMenu.pastel li:hover ul li a {
	background: #F9F3E3;
}
.rayMenu.pastel li:hover ul li a:hover { 
	background: #CFC8B5; 
}